/*------------------------------------------------------------------

Project:	Treviso - One page multi purpose page
Version:	1.0
Last change:	17/08/2015 [...]
Designed by:	MOOZ Themes / www.MOOZthemes.com
Primary use:	One page

/*--------------------
Import Google Fonts
--------------------*/

/* main font for menu. */
@import url(https://fonts.googleapis.com/css?family=Roboto:400|Raleway:200,300,400,500,700,900);

/*--------------------
1. General
--------------------*/

body {
	margin: 0px;
	font-family: "Raleway", Sans-serif;
}

h1 {
	font-weight: 500;
	letter-spacing: 0.1em;
	line-height: 1.4em;
	font-family: "Raleway", Sans-serif;
	color: #565959;
	text-transform: uppercase;
}

h2,
h3,
h4,
h5,
h6 {
	font-weight: 500;
	letter-spacing: 0.4px;
	line-height: 1.4em;
	font-family: "Raleway", Sans-serif;
	color: #565959;
}

p {
	font-family: 'Raleway', sans-serif;
	font-size: 17px;
	font-weight: 300;
	line-height: 1.8em;
	letter-spacing: 0.2px;
	color: #565959;
}


/*--------------------
Links hover
--------------------*/
a {
	color: #6DC9C9;
	text-decoration: none;
	font-size: 17px;
	font-weight: 500;
}

a:hover, a:focus, a:active, a.active {
    color: #9FF2F2;
		text-decoration: none;
		font-size: 17px;
		font-weight: 500;
}
a, a:hover, a:focus, a:active, a.active {
    outline: 0;
}

::selection {
    text-shadow: none;
    background: none;
}

/*--------------------
Navigation
--------------------*/
/*--------------------
background on small screens
--------------------*/
.navbar-default {
	background-color: transparent;
	border-color: transparent;
	background-color: #ffffff;
}
.navbar-default .navbar-brand  {
	color: #565959;
	letter-spacing: 0.1em;
}

.navbar-default ul.nav > li > a:hover {
	color: #6DC9C9;
}

/*--------------------
collapsed navbar background and border
--------------------*/
.navbar-default .navbar-toggle {
	background-color: #fff;
	border-color: #565959;
}

/*--------------------
collapsed navbar burger lines
--------------------*/
.navbar-default .navbar-toggle .icon-bar {
	background-color: #565959;
}

/*--------------------
collapsed navbar
--------------------*/
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
	color: #6DC9C9;
}

.navbar-default .navbar-toggle:focus {
	background-color: #ffffff;
}

.navbar-toggle:hover {
	border-color: #6DC9C9;
	background-color: #ffffff;
}

.navbar-default .nav li a {
    font-family: "Raleway",sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #565959;
    margin: 10px 15px;
    padding: 0 0 2px 0;
}

@media (min-width:768px) {
	.navbar-default
	{
		background-color: transparent;
		padding: 40px 0 0px;
    -webkit-transition:padding .3s;
		-moz-transition:padding .3s;
		transition:padding .3s;
		border:0;
	}
	.navbar-default .navbar-brand {
		font-size: 2em;
		-webkit-transition:all .3s;
		-moz-transition:all .3s;
		transition:all .3s
    padding: 0px;
	}
	.navbar-default .navbar-nav>.active>a {
		border-radius: 3px;
		color: #6DC9C9;
	}
  .navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 4px;
  }
}

/*--------------------
Sections
--------------------*/

.section-title {
	padding-bottom: 1vh;
}

.section-title h2 {
	font-size: 45px;
	text-transform: uppercase;
}

.section-title p {
	font-size: 18px;
	font-weight: 300;
	line-height: 33px;
	margin: 1vh;
}

.mz-module .section-title {
    padding: 40px 0;
}

section {
	padding: 5vh 0 5vh 0;
}

/*--------------------
4.3. Portfolio
--------------------*/

.row {
	padding: 0;

}
.col-1-gutter {
	padding-top: 2em;
	padding-bottom: 2em;
	padding-left: 5px;
	padding-right: 5px;
}

.img-responsive {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* latest-projects at the bottom */
.image {
  display: block;
  width: 100%;
	opacity: 1;
  height: auto;
	transition: .5s ease;
	backface-visibility: hidden;
	border-radius: 2%;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.text {
  color: #565959;
  font-size: 18px;
	font-weight: bold;
  padding: 1px;
}

.latest-projects {
	padding-bottom: 2em;
	padding-left: 5px;
	padding-right: 5px;
}

.latest-projects:hover .image {
  opacity: 0.3;
}

.latest-projects:hover .middle {
  opacity: 1;
}

.project-description {
  color: #565959;
	margin-left: 1em;
}

/*--------------------
4.7. Contacts
--------------------*/

section#contact form {
    width: 90%;
    margin: 15px auto;
}

.contact.form-group {
margin-bottom: 25px;
}

.contact .form-group input, .contact .form-group textarea {
    padding: 15px;
    border: 1px solid #BBBBBB;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
    font-size: 13px;
}

.contact h3 {
    margin-bottom: 30px;
}

.contact p {
    font-size: 13px;
}

.contact .day {
    display: inline-block;
    width: 80px;
}

.contact i {
    margin-right: 5px;
}

.contact-form-field-name {
	text-align: left;
	font-size: 14px;
	color: #565959;
	font-weight: bold;
	text-indent: 13px;
}

.contact-row {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 10%;
	margin-right: 10%;
}

/*--------------------
5. Footer
--------------------*/
#footer {
	padding-bottom: 0;
	padding-top: 10vh;
}

footer {
    padding: 10px;
    background-color: #F7F7F7;
		width: 100%;
		bottom: 0;
		position: fixed;
}

footer p {
    color: #B7B7B7;
    margin: 0;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 1.6px;
}

footer p a {
    color: #fff;
}

footer p a span {
    color: #75F4FF;
    font-size: 10px;
    font-weight: 700;
}

/* Style all font awesome icons */
.fa {
  padding: 10px;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
	color: #565959;

}

/* Add a hover effect if you want */
.fa:hover {
	color: #6DC9C9;
  opacity: 0.7;
	text-decoration: none;
	font-size: 25px;
}

/*--------------------
7. Components
--------------------*/

.btn-xl:hover, .btn-xl:focus, .btn-xl:active, .btn-xl.active,
.open .dropdown-toggle.btn-xl {
    color: #fff;
    background-color: #fff;
    border-color: #6DC9C9;
}


/*--------------------
button hover color
--------------------*/
.btn:hover, .btn:focus, .btn:active, .btn.active, .open .dropdown-toggle.btn {
    color: #fff;
    background-color: #6DC9C9;
}

.btn {
    display: inline-block;
    padding: 8px 20px;
    margin: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #6DC9C9;
    border-radius: 4px;
}

.btn-xl {
    color: #fff;
    background-color: #fff;
    border-color: #6DC9C9;
    font-family: "Robot",sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 3px;
    font-size: 18px;
    padding: 20px 40px;
}

/* Back to top button
---------------------------------- */
#back-top {
    position: fixed;
    z-index: 1000;
    bottom: 40px;
    right: 50px;
}
#back-top a {
    width: 60px;
    height: 60px;
    display: block;
    text-align: center;
    font: 11px/100% Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    background: #A9A9B1;
    /* background color transition */
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}
#back-top a:hover {
    background: #75F4FF;
}
/* arrow icon (span tag) */
#back-top i {
    margin-top: 15px;
    font-size: 28px;
}

@media only screen
and (min-width : 320px)
and (max-width : 480px) {
#back-top {
    position: fixed;
    bottom: 10px;
    right: 30px;
}
#back-top a {
    width: 40px;
    height: 40px;
}
#back-top i {
    margin-top: 7px;
    font-size: 20px;
}
}
